<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
      
<head>
    <link rel="stylesheet" th:href="@{/order/css/search.css}">
    <link rel="stylesheet" th:href="@{/_common/css/popup.css}">
    <link rel="stylesheet" th:href="@{/card/css/main.css}">

</head>

<div layout:fragment="content" class="content">
    <!-- contents -->
    <div class="main-container">
        <div class="content-body">
            <!-- Section -->
            <div class="content panel panel-default" style="padding-bottom: 0;">
                <div class="search-container">
                    <div class="form-controls pdt20 pdb20 pdr20 pdl20">
                        <span class="file-add demo2 search-wrapper panel-heading col-sm-12">
                            <input type="text" class="input search form-control" v-model="searchQuery" th:placeholder="#{searchPlaceholder}"/>
                            <div class="searBtn" @click="search">
                                <b-icon icon="search" font-scale="1.5"></b-icon>
                            </div>
                        </span>
                    </div>
                    <div class="containers">
                        <div class="btn_wrap">
                            <button type="button" class="btn btn-succ-all" style="
                            border-radius: 5.56vw;
                            margin: 0 auto;
                            background-color: rgb(36, 150, 238);
                            width: 60%;
                            color: #fff;" @click="onQrScanner()">
                                <span th:text="#{QRsearchStore}">매장 QR코드로 인증하기</span>
                            </button>
                        </div>
<!--                        <h3 style="text-align: center; margin-top: 2vw;">매장 진입시 QR로 인증하세요.</h3>-->
                    </div>
                    <!-- //Section -->
                    <div class="search-container" v-if="resources.length">
                        <div class="grid demo1" style="margin-top: 6vw;">
                            <div class="col col-12">
                                <div class="tab-body">
                                    <!-- <div class="search-list" v-if="resultQuery.length > 0">
                                        <h3 class="storeSer fs-14" style="padding: 38vw 0;">검색어를 입력해주세요.</h3>
                                    </div> -->
                                    <div class="search-list" @click="goPage('/order/order_de')">
                                        <div class="search-detail" >
                                            <div class="weekday mrb20" v-for="item in resultQuery" >
                                                <div class="items">
                                                    <div class="thumbnail_list">
                                                        <img :src="item.uri" />
                                                    </div>
                                                    <div class="desc">
                                                        <div class="">
                                                            <p class="name"><a v-bind:href="item.uri" target="_blank">{{item.title}}</a></p>
                                                            <p class="list-content">현대인의 건강을 책임지는 감성 셀러드 전문전 셀러디입니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Section -->
        </div>
    </div>
      <!-- contents -->
</div>


<th:block layout:fragment="script">
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
                lang : '[[${session.lang}]]',
                headerTitleEN : 'متجر',
                headerTitleKO : '매장',

                searchQuery: null,
                resources:[
                    {title:"셀러디", uri: "../../order/img/store.png" ,category:"a",icon:null},
                    {title:"Accounting Services",uri: "../../order/img/store.png",category:"a",icon:null},
                    {title:"Administration",uri: "../../order/img/store.png",category:"a",icon:null},
                    {title:"Advanced Student Lookup",uri: "../../order/img/store.png",category:"b",icon:null},
                    {title:"Art & Sciences",uri: "../../order/img/store.png",category:"b",icon:null},
                    {title:"Auxiliares Services",uri: "../../order/img/store.png",category:"b",icon:null},
                    {title:"Basic Skills",uri: "../../order/img/store.png",category:"c",icon:null},
                    {title:"Board of Trustees",uri: "../../order/img/store.png",category:"d",icon:null}
                ],
            },
            mounted: function () {
            },
            methods: {
                onQrScanner : function(){
                    window.Android.onQrScanner();
                },
                qrScanResult : function (rsltData){
                    location.href="/order/order_de"
                },

                search : function(){
                    console.log(111)
                },

            },
            computed: {
                resultQuery(){
                    if(this.searchQuery){
                        return this.resources.filter((item)=>{
                            return this.searchQuery.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
                        })
                    }else{
                        return this.resources;
                    }
                }
            }
        })
    </script>
</th:block>

</html>