<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link rel="stylesheet" th:href="@{/order/css/order.css}">
    <link rel="stylesheet" th:href="@{/card/css/main.css}">
    <!-- Swiper library S -->
    <link href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
    <!-- vue-awesome-swiper -->
    <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper"></script>
    <script type="text/javascript">Vue.use(window.VueAwesomeSwiper)</script>
    <!-- Swiper library E -->
</head>

<div layout:fragment="content" class="content">
    <div class="container">
        <h1 class="list-tit fs-14" th:text="#{visitStoreList}">매장방문 내역</h1>
        <div class="multi-time-sale time-sale">
            <div class="weekday">
                <div class="items">
                    <div class="container">
                        <div class="list-head" style="display: flex; justify-content: space-between; align-items: center;">
                            <h3 class="tit fs-14" th:text="#{salady}">샐러디</h3>
                            <div class="btn_wrap" @click="goPage('/order/order_de')">
                                <div style="display: flex; justify-content: center;">
                                    <span style="margin-right: 1.33vw; color: #b3b3b3;" th:text="#{goStore}">매장 바로가기</span>
                                    <b-icon icon="chevron-right" font-scale="1" style="color: #b3b3b3;"></b-icon>
                                </div>
                            </div>
                        </div>

                        <div class="list-body">
                            <div class="list-price">
                                <div class="menu-list">
                                    <h3 class="contents fs-14">할라피뇨치킨 JALAPENO CHICKEN</h3>
                                    <div class="sub">할라피뇨추가</div>
                                    <div class="menu-fot"  style="display: flex; justify-content: flex-end;">
                                        <span class="price-num fs-num">2021.08.11</span>
                                    </div>
                                </div>
                            </div>

                            <div class="list-price">
                                <div class="menu-list">
                                    <h3 class="contents fs-14">명란마요 쉬림프 포케볼 Pollack Roe Mayo Shrimp Poke Bowl</h3>
                                    <div class="sub">야채추가</div>
                                    <div class="menu-fot"  style="display: flex; justify-content: flex-end;">
                                        <span class="price-num fs-num">2021.08.11</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block layout:fragment="script">
    <script type="text/javascript">

        var app = new Vue({
            el: "#app",
            data: {
                headerTitleEN : 'سجل زيارة المتجر',
                headerTitleKO : '매장 방문 내역',
                lang : '[[${session.lang}]]',

                totalA : 1,
                totalB : 1,
                cardSeq : 0
            },
            mounted: function () {
                this.init();
            },
            methods: {
                init : function(){
                    $("#sCheck0").click(function(){
                        //만약 전체 선택 체크박스가 체크된상태일경우
                        if($("#sCheck0").prop("checked")) {
                            // 해당화면에 전체 checkbox들을 체크해준다
                            $("input[type=checkbox]").prop("checked",true);
                            // 전체선택 체크박스가 해제된 경우
                        } else {
                            //해당화면에 모든 checkbox들의 체크를해제시킨다.
                            $("input[type=checkbox]").prop("checked",false); } })

                },
                count : function (type, totalVal)  {
                    var num = 0
                    if(totalVal == "totalA"){
                        num = this.totalA;
                    }else{
                        num = this.totalB;
                    }
                    // 더하기/빼기
                    if(type === 'plus') {
                        num = parseInt(num) + 1;
                    }else if(type === 'minus')  {
                        num = parseInt(num) - 1;
                    }

                    if(num < 0 ){
                        num = 0;
                    }
                    if(totalVal == "totalA"){
                        this.totalA = num;
                    }else{
                        this.totalB = num;
                    }
                    // 결과 출력
                    // resultElement.innerText = number;
                },
                allCheck : function(){

                },

                swiperOption : function(){
                    return {
                        // 'allowTouchMove': value,
                        'pagination': {
                            'el': '.swiper-pagination',
                            'type': 'fraction',
                            // 'clickable' : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
                        },
                        on: {
                            'slideChangeTransitionEnd': function () {
                                this.cardSeq = this.activeIndex;
                            }
                        },
                        effect: 'coverflow',
                        coverflowEffect: {
                            rotate: 0,
                            stretch: 0,
                            depth: 300,
                            slideShadows: false,
                        }
                    };
                }
            },
            computed: {
            }
        })
    </script>
</th:block>

</html>