<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
      
<head>
    <link rel="stylesheet" th:href="@{/order/css/search.css}">
    <link rel="stylesheet" th:href="@{/_common/css/popup.css}">
    <link rel="stylesheet" th:href="@{/card/css/main.css}">

</head>

<div layout:fragment="content" class="content">
    <!-- contents -->
    <div class="main-container">
        <div class="content-body">
            <!-- Section -->
            <div class="content panel panel-default" style="padding-bottom: 0;">
                <div class="search-container">
                    <div class="form-controls pdt20 pdb20 pdr20 pdl20">
                        <span class="file-add demo2 search-wrapper panel-heading col-sm-12">
                            <input type="text" class="input search form-control" v-model="searchQuery" th:placeholder="#{searchPlaceholder}"/>
                            <div class="searBtn" @click="search">
                                <b-icon icon="search" font-scale="1.5"></b-icon>
                            </div>
                        </span>
                    </div>
                    <div class="containers">
                        <div class="btn_wrap">
                            <button type="button" class="btn btn-succ-all" style="
                            border-radius: 5.56vw;
                            margin: 0 auto;
                            background-color: rgb(36, 150, 238);
                            width: 60%;
                            color: #fff;" @click="onQrScanner()">
                                <span th:text="#{QRsearchStore}">매장 QR코드로 인증하기</span>
                            </button>
                        </div>
<!--                        <h3 style="text-align: center; margin-top: 2vw;">매장 진입시 QR로 인증하세요.</h3>-->
                    </div>
                    <!-- //Section -->
                    <div class="search-container" v-if="resources.length">
                        <div class="grid demo1" style="margin-top: 6vw;">
                            <div class="col col-12">
                                <div class="tab-body">
                                    <!-- <div class="search-list" v-if="resultQuery.length > 0">
                                        <h3 class="storeSer fs-14" style="padding: 38vw 0;">검색어를 입력해주세요.</h3>
                                    </div> -->
                                    <div class="search-list">
                                        <div class="search-detail" >
                                            <div class="weekday mrb20" v-for="(item, index) in resultQuery" @click="goShop(index, '/order/order_de')">
                                                <div class="items">
                                                    <div class="thumbnail_list">
                                                        <img :src="item.uri" />
                                                    </div>
                                                    <div class="desc">
                                                        <div class="">
                                                            <p class="name" v-if="lang == 'en'"><a v-bind:href="item.uri" target="_blank">{{item.titleEn}}</a></p>
                                                            <p class="name" v-else><a v-bind:href="item.uri" target="_blank">{{item.titleKo}}</a></p>
                                                            <p class="list-content" v-if="lang == 'en'">{{item.contentEn}}</p>
                                                            <p class="list-content" v-else>{{item.contentKo}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Section -->
        </div>
    </div>
      <!-- contents -->

    <div layout:fragment="popup">
        <div id="popupDialog" class="popup-wrap type-basic">
            <section class="popup demo1">
                <div class="popup-body">
                    <div class="popup-content">
                        {{alertText}}
                    </div>
                </div>
                <div class="popup-foot">
                    <div class="btn_wrap">
                        <button type="button" class="btn btn btn-succ-all" @click="popupClose('popupDialog')"><span th:text="#{check}">확인</span></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<th:block layout:fragment="script">
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
                lang : '[[${session.lang}]]',
                headerTitleEN : 'متجر',
                headerTitleKO : '매장',
                cart : '[[${session.cart}]]',

                searchQuery: null,
                resources:[
                    {titleKo:"샐러디", titleEn : "سلطة", uri: "../../order/img/store.png" ,category:"a",icon:null, contentEn : "هذا متجر سلطة معقول 'Salady' المسؤول عن صحة الناس المعاصرين.", contentKo : "현대인의 건강을 책임지는 감성 샐러드 매장 '샐러디'입니다."},
                    {titleKo:"STARBUCKS", titleEn : "STARBUCKS",uri: "../../order/img/starbucks.png",category:"a",icon:null, contentEn : "يتم تحضير المتجر", contentKo : "준비중인 매장 입니다."},
                    {titleKo:"LION BRAND", titleEn : "LION BRAND", uri: "../../order/img/lion.jpg",category:"b",icon:null, contentEn : "يتم تحضير المتجر", contentKo : "준비중인 매장 입니다." },
                    {titleKo:"BURGER KING", titleEn : "BURGER KING", uri: "../../order/img/burgerKing.jpg",category:"a",icon:null, contentEn : "يتم تحضير المتجر", contentKo : "준비중인 매장 입니다."},
                    {titleKo:"ABC MART", titleEn : "ABC MART", uri: "../../order/img/abc.png",category:"b",icon:null, contentEn : "يتم تحضير المتجر", contentKo : "준비중인 매장 입니다."},
                ],

                alertText : ""
            },
            mounted: function () {
                $(".orderIcon").css("color", "#2496ee")
                if(this.cart == "true"){
                    $(".storeCart").show();
                }
                console.log(this.lang)
            },
            methods: {
                onQrScanner : function(){
                    window.Android.onQrScanner();
                },
                qrScanResult : function (rsltData){
                    location.href="/order/order_de"
                },

                search : function(){
                    console.log(111)
                },

                goShop : function(index, link){
                    if(index == 0){
                        goPage(link);
                    }else{
                        if(this.lang == "en"){
                            this.alertText = "قريبا"
                        }else{
                            this.alertText = "준비중 입니다."
                        }
                        popupOpen('popupDialog');
                    }
                },

            },
            computed: {
                resultQuery(){
                    console.log(this.lang)
                    if(this.searchQuery){
                        return this.resources.filter((item)=>{
                            return this.searchQuery.toLowerCase().split(' ').every(v => item.titleKo.toLowerCase().includes(v))
                        })
                    }else{
                        return this.resources;
                    }
                }
            }
        })
    </script>
</th:block>

</html>