<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
      
<head>
  <link rel="stylesheet" th:href="@{/order/css/search.css}">
</head>

<div layout:fragment="content" class="content">
  <!-- contents -->
  <div class="main-container">
      <div class="content-body">
        <!-- Section -->
        <div class="content">
            <div class="search-container">
                <div class="form-controls pdt20 pdb20 pdr20 pdl20">
                    <span class="file-add demo2">
                        <input type="text" id="sFilesName11" class="input search " placeholder="매장을 입력해주세요.">
                        <label class="btn demo3 type-attach" role="button">
                            <span><input type="button" name="sFiles1" id="sFiles1">검색</span>
                        </label>
                    </span>
                </div>
                <div class="grid demo1">
                    <div class="col col-12">
                        <!-- Tab Change -->
                        <div class="tab-nav demo1">
                            <ul role="tablist" class="tab-list">
                                <li id="tabItem21" role="tab" aria-controls="tabpanel21" aria-selected="true" class="js-tab is-active">
                                    <button type="button" class="btn"><span class="fs-14">인기메뉴</span></button>
                                </li>
                                <li id="tabItem22" role="tab" aria-controls="tabpanel22" aria-selected="false" class="js-tab">
                                    <button type="button" class="btn"><span class="fs-14">한식</span></button>
                                </li>
                                <li id="tabItem23" role="tab" aria-controls="tabpanel23" aria-selected="false" class="js-tab">
                                    <button type="button" class="btn"><span class="fs-14">중식</span></button>
                                </li>
                                <li id="tabItem24" role="tab" aria-controls="tabpanel24" aria-selected="false" class="js-tab">
                                    <button type="button" class="btn"><span class="fs-14">양식</span></button>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-body">
                            <!-- 탭내용1 -->
                            <div id="tabpanel21" role="tabpanel" aria-labelledby="tabItem21" class="tab-cont is-active">
                                <div class="search-list">
                                    <div class="search-detail">
                                            <div class="weekday">
                                                <div class="items">
                                                    <div class="thumbnail_list">
                                                        <img th:src="@{/order/img/store.png}">
                                                    </div>
                                                    <div class="desc">
                                                        <div class="">
                                                            <p class="name">펜타에스</p>
                                                            <p class="list-content">파스타피자 전문 맛집입니다. 인스타 팔로우수 5000만</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //탭내용1 -->

                            <!-- 탭내용2 -->
                            <div  id="tabpanel22" role="tabpanel" aria-labelledby="tabItem22" class="tab-cont">
                                <div class="multi-time-sale time-sale">
                                        <div class="weekday" onclick="popupOpen('slideFootPopup')">
                                            <div class="items">
                                                <div class="thumbnail_list">
                                                    <img src="https://webimage.10x10.co.kr/eventIMG/2021/today/Frontimage20210730140423.JPEG" alt="유니크 감성 소품, 무아스">
                                                </div>
                                                <div class="desc">
                                                    <div class="">
                                                        <p class="name fs-14">
                                                            유니크 감성 소품, 무아스유니크 감성asdasd 소품, 무아스
                                                        </p>
                                                        <p class="list-content">
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                        </p>
                                                        <div class="price">
                                                            <p class="sum fs-num">9,207원~</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </article> -->
                                </div>
                            </div>
                            <!-- //탭내용2 -->

                            <!-- 탭내용2 -->
                            <div  id="tabpanel23" role="tabpanel" aria-labelledby="tabItem23" class="tab-cont">
                                <div class="multi-time-sale time-sale">
                                        <div class="weekday" onclick="popupOpen('slideFootPopup')">
                                            <div class="items">
                                                <div class="thumbnail_list">
                                                    <img src="https://webimage.10x10.co.kr/eventIMG/2021/today/Frontimage20210730140423.JPEG" alt="유니크 감성 소품, 무아스">
                                                </div>
                                                <div class="desc">
                                                    <div class="">
                                                        <p class="name fs-14">
                                                            유니크 감성 소품, 무아스유니크 감성asdasd 소품, 무아스
                                                        </p>
                                                        <p class="list-content">
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                        </p>
                                                        <div class="price">
                                                            <p class="sum fs-num">9,207원~</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </article> -->
                                </div>
                            </div>
                            <!-- //탭내용2 -->
                             <!-- 탭내용2 -->
                             <div  id="tabpanel24" role="tabpanel" aria-labelledby="tabItem23" class="tab-cont">
                                <div class="multi-time-sale time-sale">
                                        <div class="weekday" onclick="popupOpen('slideFootPopup')">
                                            <div class="items">
                                                <div class="thumbnail_list">
                                                    <img src="https://webimage.10x10.co.kr/eventIMG/2021/today/Frontimage20210730140423.JPEG" alt="유니크 감성 소품, 무아스">
                                                </div>
                                                <div class="desc">
                                                    <div class="">
                                                        <p class="name fs-14">
                                                            유니크 감성 소품, 무아스유니크 감성asdasd 소품, 무아스
                                                        </p>
                                                        <p class="list-content">
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                            피자 포테이토피자, 닭가슴살 먹자, 벌크업벌크업!
                                                        </p>
                                                        <div class="price">
                                                            <p class="sum fs-num">9,207원~</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </article> -->
                                </div>
                            </div>
                            <!-- //탭내용2 -->                           
                        </div>
                        <!-- //Tab Change -->
                    </div>
                </div>
                <!-- //Section -->
            </div>
        </div>
        <!-- //Section -->
      </div>        
  </div>
  <!-- contents -->
</div>


<th:block layout:fragment="script">
  <script type="text/javascript">

    var app = new Vue({
      el: "#app",
      data: {
      },
      mounted: function () {
      },
      methods: {
      },
      computed: {
      }
    })
  </script>
</th:block>

</html>