<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
      
<head>
  <link rel="stylesheet" th:href="@{/order/css/search.css}">
  <link rel="stylesheet" th:href="@{/_common/css/popup.css}">
  <link rel="stylesheet" th:href="@{/card/css/main.css}">
</head>

<div layout:fragment="content" class="content">
  <!-- contents -->
  <div class="main-container">
      <div class="content-body">
        <!-- Section -->
        <div class="content">
            <div class="search-container">
                <div class="form-controls pdt20 pdb20 pdr20 pdl20">
                    <span class="file-add demo2">
                        <input type="text" id="sFilesName11" class="input search " placeholder="매장을 입력해주세요.">
                        <label class="btn demo3 type-attach" role="button">
                            <span><input type="button" name="sFiles1" id="sFiles1">검색</span>
                        </label>
                    </span>
                </div>
                <div class="containers">
                    <div style="    background: rgb(255, 255, 255);
                    border-radius: 5.56vw;    height: 84vw;  margin: 0 5.56vw;">
                        <div class="popup-body flex f-clm" :class="{'on':payTab == 1}">
                            <div class="payTab on">
                                <div style="    height: 68vw;
                                border-bottom: 1px solid #ddd;">
                                    <div class="fs-16" style="padding: 5.56vw 0;">영역을 클릭해주세요.</div>
                                    <div class="qrImg">
                                        <img src="/card/img/qr_off.png">
                                    </div>
                                </div>
                                <!-- <div class="btn_wrap-top flex f-center align-center">
                                    <div class="fw-bold fc-blue">
                                        결제하기
                                    </div>
                                </div> -->
                            </div>
                            <div class="payTab">
                                <div style="height: 75vw;">
                                    <div class="qrImg">
                                        <img src="/card/img/qr_on.png">
                                    </div>
                                    <div class="payText fs-14 fw-bold mrt10">
                                        결제예정 금액
                                    </div>
                                    <div class="fs-14 mrt10 mrb10">
                                        2,000 C
                                    </div>
                                    <div class="mrb20">
                                        <div class="fs-16 fc-blue mrt20">
                                            01:00
                                        </div>
                                    </div>
                                </div>
                                <div class="btn_wrap-top flex f-center align-center">
                                    <div class="fw-bold fc-blue">
                                        재요청
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap" style="margin-top: 5.56vw;">
                        <button type="button" class="btn btn-succ-all" style="
                        border-radius: 5.56vw;
                        
                        

                        margin: 0 auto;
                        background-color: rgb(36, 150, 238);
                        width: 60%;
                        color: #fff;" v-if="true"><span>QR코드로 인증하기</span></button>
                    </div>
                </div>
                <!-- //Section -->
            </div>
        </div>
        <!-- //Section -->
      </div>        
  </div>
  <!-- contents -->
</div>


<th:block layout:fragment="script">
  <script type="text/javascript">

    var app = new Vue({
      el: "#app",
      data: {
        payTab : 1
      },
      mounted: function () {
        this.init();
      },
      methods: {
          payment : function(val){
            if(val === 1){
                clearInterval(this.timerInterval);
            }
            this.payTab = val;
        },
      },
      computed: {
      }
    })
  </script>
</th:block>

</html>