<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<head>
    <link rel="stylesheet" th:href="@{/tablet/css/tablet.css}">
    <link rel="stylesheet" th:href="@{/card/css/history.css}">
</head>

<div layout:fragment="content" class="content" style="justify-content: flex-start">
    <div class="mrl20 mrr20 ">

        <div class="flex f-btw align-center mrt10 f-clm">
            <div class="flex f-btw align-center mrt10" style="width: 100%;">
                <input type="text" class="wh text-c" v-model="sDate.date" @click="popupOpenDate('sDatePop')" readonly >
                <span>-</span>
                <input type="text" class="wh text-c" v-model="eDate.date" @click="popupOpenDate('eDatePop')" readonly >
            </div>
            <div class="flex f-btw align-center mrt10" style="width: 100%;" >
                <select class="select demo2 wh fs-14 text-c mrt10" v-model="cashierId">
                    <option class="" selected value="00">cashier select</option>
                    <option class="" value="cashier01">cashier01</option>
                    <option class="" value="cashier02">cashier02</option>
                </select>
                <div class="searchBtn fc-white mrt10" @click="getCashierInfo()" th:text="#{search}">검색</div>
            </div>
        </div>
        <div class="cardInfo mrt15 flex f-btw align-center">
            <div class="fs-10 flex" v-if="cashierList <= 0">
                <span th:text="#{total}">총</span> <span class="mrr5 mrl5">0</span> <span th:text="#{count}">건</span>
            </div>
            <div class="fs-10 flex" v-else>
                <span th:text="#{total}">총</span> <span class="mrr5 mrl5">{{cashierList.length}}</span> <span th:text="#{count}">건</span>
            </div>
            <div class="text-r">
                <div class="fs-10 fc-gray">{{sDate.date + ' ~ ' + eDate.date}}</div>
                <div class="fs-10 fc-blue mrt5">{{comma(totalAmount)}} &#169;</div>
            </div>
        </div>
    </div>

    <!--  이용내역 없을때  -->
    <div class="cardHisIInfoNone" v-if="cashierList <= 0">
        <div class="noneImg">
            <img th:src="@{/card/img/none.png}">
        </div>
        <div class="mrt20 fc-gray fs-10" th:text="#{noHistory}">이용 내역이 없습니다.</div>
    </div>
    <div class="cardHisIInfo" v-else>
        <div style="overflow:scroll;">
            <div class="hisCont mrb15 pdb15" @click="hisDetailPop(item.useStatementId)" v-for="(item, index) in cashierList">
                <div class="flex f-btw">
                    <div class="" >{{item.modId}}</div>
                    <div class="fc-blue fw-bold">{{comma(item.amount)}} &#169;</div>
                </div>
                <div class="flex f-btw mrt5">
                    <div class="fc-gray fs-10">{{item.modDt}}</div>
                    <div class="fc-gray fs-10 flex">{{item.cardNoFormat}}</div>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="popup">
        <div id="sDatePop" class="popup-wrap type-basic">
            <section class="popup demo1">
                <div class="popup-body">
                    <div class="popup-content flex f-evn">
                        <select class="select demo3 wh fs-14 text-c">
                            <option class="">2021</option>
                        </select>
                        <select class="select demo3 wh fs-14 text-c" v-model="sDate.month">
                            <option class="" :key="i" :value="d.value" v-for="(d, i) in month">{{d.text}}</option>
                        </select>
                        <select class="select demo3 wh fs-14 text-c" v-model="sDate.day">
                            <option class="" :key="i" :value="d.value" v-for="(d, i) in day">{{d.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="popup-foot">
                    <div class="btn_wrap">
                        <button type="button" class="btn btn-succ-all" @click="dateChange('sDatePop')"><span th:text="#{check}">확인</span></button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div layout:fragment="popup">
        <div id="eDatePop" class="popup-wrap type-basic">
            <section class="popup demo1">
                <div class="popup-body">
                    <div class="popup-content flex f-evn">
                        <select class="select demo3 wh fs-14 text-c">
                            <option class="">2021</option>
                        </select>
                        <select class="select demo3 wh fs-14 text-c" v-model="eDate.month">
                            <option class="" :key="i" :value="d.value" v-for="(d, i) in month">{{d.text}}</option>
                        </select>
                        <select class="select demo3 wh fs-14 text-c" v-model="eDate.day">
                            <option class="" :key="i" :value="d.value" v-for="(d, i) in day">{{d.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="popup-foot">
                    <div class="btn_wrap">
                        <button type="button" class="btn btn-succ-all" @click="dateChange('eDatePop')"><span th:text="#{check}">확인</span></button>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>


<th:block layout:fragment="script">
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
                headerTitleEN : 'Поиск кассира',
                headerTitleArab : 'بحث أمين الصندوق',
                headerTitleKO : '캐셔 조회',
                lang : '[[${session.lang}]]',
                cashierId : "00",

                sDate : {
                    date : "",
                    year : "",
                    month : "",
                    day : "",
                },
                eDate : {
                    date : "",
                    year : "",
                    month : "",
                    day : "",
                },

                month: [
                    {value:"01", text:"1"},
                    {value:"02", text:"2"},
                    {value:"03", text:"3"},
                    {value:"04", text:"4"},
                    {value:"05", text:"5"},
                    {value:"06", text:"6"},
                    {value:"07", text:"7"},
                    {value:"08", text:"8"},
                    {value:"09", text:"9"},
                    {value:"10", text:"10"},
                    {value:"11", text:"11"},
                    {value:"12", text:"12"},
                ],
                day: [
                    {value:"01", text:"1"},
                    {value:"02", text:"2"},
                    {value:"03", text:"3"},
                    {value:"04", text:"4"},
                    {value:"05", text:"5"},
                    {value:"06", text:"6"},
                    {value:"07", text:"7"},
                    {value:"08", text:"8"},
                    {value:"09", text:"9"},
                    {value:"10", text:"10"},
                    {value:"11", text:"11"},
                    {value:"12", text:"12"},
                    {value:"13", text:"13"},
                    {value:"14", text:"14"},
                    {value:"15", text:"15"},
                    {value:"16", text:"16"},
                    {value:"17", text:"17"},
                    {value:"18", text:"18"},
                    {value:"19", text:"19"},
                    {value:"20", text:"20"},
                    {value:"21", text:"21"},
                    {value:"22", text:"22"},
                    {value:"23", text:"23"},
                    {value:"24", text:"24"},
                    {value:"25", text:"25"},
                    {value:"26", text:"26"},
                    {value:"27", text:"27"},
                    {value:"28", text:"28"},
                    {value:"29", text:"29"},
                    {value:"30", text:"30"},
                    {value:"31", text:"31"},
                ],

                cashierList : 0,
                totalAmount : 0,
            },
            mounted: function () {
                this.init();
                console.log(this.lang)
            },
            methods: {
                init : function(){
                    this.dateSet(7);
                },
                dateSet : function(val) {
                    this.date = val;

                    var d = new Date();
                    if(val == 7){
                        this.getFormatDate( new Date(d.setDate(d.getDate() - 7)) , 'sDate');
                    }else{
                        this.getFormatDate( new Date(d.setMonth(d.getMonth() - val)) , 'sDate');
                    }
                    this.getFormatDate( new Date(), 'eDate');
                },
                //yyyyMMdd 포맷으로 반환
                getFormatDate : function (date, dateVal){
                    var dd = date.getDate();
                    var mm = date.getMonth()+1; //January is 0!
                    var yyyy = date.getFullYear();
                    if(dd<10) {
                        dd='0'+dd
                    }
                    if(mm<10) {
                        mm='0'+mm
                    }
                    if(dateVal == 'sDate'){
                        this.sDate.date = yyyy + '.' + mm + '.' + dd;
                        this.sDate.year = yyyy;
                        this.sDate.month = mm;
                        this.sDate.day = dd;
                        console.log("sdate")
                        console.log(this.sDate)
                    } else {
                        this.eDate.date = yyyy + '.' + mm + '.' + dd;
                        this.eDate.year = yyyy;
                        this.eDate.month = mm;
                        this.eDate.day = dd;
                        console.log("edate")
                        console.log(this.eDate)
                    }
                    //return yyyy+'.' + mm+'.'+dd;
                },

                dateChange : function(val){
                    console.log(val)
                    popupClose(val);
                    this.date = "";
                    if(val == 'sDatePop'){
                        this.sDate.date = this.sDate.year + '.' + this.sDate.month + '.' + this.sDate.day;
                    }else{
                        this.eDate.date = this.eDate.year + '.' + this.eDate.month + '.' + this.eDate.day;
                    }
                },

                popupOpenDate : function(val){
                    console.log(val);
                    popupOpen(val);
                },

                getCashierInfo : function(){
                    param = {
                        userId : this.cashierId,
                        sDate : this.sDate.date.replaceAll(".", "-"),
                        eDate : this.eDate.date.replaceAll(".", "-"),
                    }
                    console.log(param)
                    cf_call("/tablet/list/getCashierInfo", param, this.getCashierInfoCB)
                },

                getCashierInfoCB : function(data){
                    this.totalAmount  = 0;
                    console.log(data);
                    console.log(data.cashierlist);
                    for(var i in data.cashierlist) {
                        var cardNoForMat = data.cashierlist[i].cardNo.replace(/(.{4})/g,"$1-").slice(0, -1);
                        data.cashierlist[i].cardNoFormat = cardNoForMat;
                        this.totalAmount += Number(data.cashierlist[i].amount);
                    }
                    this.cashierList = data.cashierlist;
                }
            },
            computed: {
            }
        })
    </script>
</th:block>

</html>