.content{
    padding-bottom: 0px !important;
}

.wh{
    width: 42vw;
}
.onPay{
    padding-bottom: 3vw;
    border-bottom: 0.83vw solid #2496ee;
    font-weight: bold;
}
.dateBtn{
    background: #fff;
    padding: 0 4.5vw;
    border-radius: 27.78vw;

    height: 9.72vw;
    align-items: center;
    display: flex;
}
.onDate{
    color: #ffffff;
    background-color: #2496ee;
}
.searchBtn{
    background: #807f7f;
    padding: 3vw 4.5vw;
    border-radius: 0 27.78vw 27.78vw 0;
    height: 9.72vw;
    text-align: center;
    display: flex;
    align-items: center;
    width: 20%;
}
.select.demo2{
    height: 9.72vw;
    padding: 0 8.33vw 0 5.56vw;
    border-radius: 27.78vw 0 0 27.78vw;
    font-size: 3.33vw;
    width: 80%;
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    appearance: none;         /* 화살표 없애기 공통*/
    background: url(../../_common/img/arrow-bot.png) no-repeat 97% white;
    background-size: 3vw;
    border: none;

}
.select.demo2:before {
width: 0;
height: 0;
}
.noneImg{
width: 19.44vw;
}
.cardHisIInfo{
width: 100%;
height: calc(100vh - 97vw);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.tabMenu{
width: 100%;
border-bottom: 1px solid #ddd;
}