.loginWrap{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginBtn{
    background-color: #2496ee;
    color: #fff;
    height: 9.72vw;
    width: 85%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginCntWrap{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.hBar{
    border-right: 1px solid #ddd;
}

.eventWrap{

}
.eventCnt{
    background-color: #fff;
    border-radius: 5.56vw;
}
.eventProd{
    width: 15.22vw;
}
.arrowRG{
    width: 2vw;
}
.eventTextWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cardBtnImg{
    width: 7.11vw;
}
.cardBtn{
    width: 25vw;
}
.loginInput{
    background: #f1f5f8;
    width: 85%;
}
.loginCntBtn{
    width: 25vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 6vw;
}
.cardBox{
    background-color: #2496ee;
    width: 85%;
    border-radius: 5.56vw;
    margin: 0 auto;
    position: relative;
}
.cardName{

}
.swiper-pagination{
    display: flex;
    top: 34vw;
    height: 5vw;
    margin-left: 75vw;
    width: 14vw !important;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba( 0, 0, 0, 0.3 );
    font-size: 2.78vw;
}
.swiper-pagination-current{
    margin-right: 1vw;
    font-size: 2.78vw;
}
.swiper-pagination-total{
    margin-left: 1vw;
    font-size: 2.78vw;
}
.cardHisArrow {
    width: 3.56vw;
    display: flex;
    align-items: center;
}


.cardHisAco {
    display: none;
    overflow: hidden;
    position: relative;
    top: -5vw;
    z-index: -1;
    border-bottom-left-radius: 5.56vw;
    border-bottom-right-radius: 5.56vw;
    width: 85%;
    background-color: #fff;
    padding: 8vw 4.17vw 4.17vw;
    margin: 0 auto;
}

.hisCont{
    border-bottom: 1px solid #ddd;
}
.hisCont:last-child{
    border: none;
}
.cardHisDetailArrow{
    width: 1.78vw;
}

.payInput{
    border-bottom: 1px solid #2496ee;
    border-radius:  0 !important;
}
.qrImg{
    width: 40vw;
    margin: 0 auto;
}
.payTab{
    display: none;
}
.on{
    display: block;
}