.wid100{
    width: 100%;
}
.wh{
    width: 42vw;
}
.inputs{
    width: 20vw;
}

.cardNumInput{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 100px;
}
.cardNumInput .bar-black{
    width: 4.267vw;/*16px*/
    height: 1px;
    border-bottom: 1px solid #c1c1c1;
}
.registBtn{
    border-radius: 5.56vw;
    margin: 50vw auto 0;
    background-color: rgb(36, 150, 238);
    width: 60%;
    color: rgb(255, 255, 255);
}