.wid100{
    width: 100%;
}
.wh{
    width: 42vw;
}
.inputs{
    width: 20vw;
}

.cardNumInput{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 100px;
}
.cardNumInput .bar{
    width: 4.267vw;/*16px*/
    height: 1px;
    border-bottom: 1px solid #c1c1c1;
}