<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<head>
    <link rel="stylesheet" th:href="@{/card/css/change.css}">
    <link rel="stylesheet" th:href="@{/order/css/order.css}">
    <link rel="stylesheet" th:href="@{/card/css/main.css}">

    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script> -->
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <style>
        .multi-time-sale {
            padding-bottom: 0;
        }
    </style>
</head>

<div layout:fragment="content" class="content">
    <div class="content-body">
        <!-- Section -->
        <div class="grid demo1">
            <div class="col col-12 containers">
                <!-- Tab Change -->
                <div class="tab-nav demo1 ">
                    <ul role="tablist" class="tab-list">
                        <li id="tabItem21" role="tab" aria-controls="tabpanel21" aria-selected="true" class="js-tab is-active">
                            <button type="button" class="btn"><span class="fs-14">가져오기</span></button>
                        </li>
                        <li id="tabItem22" role="tab" aria-controls="tabpanel22" aria-selected="false" class="js-tab">
                            <button type="button" class="btn"><span class="fs-14">내보내기</span></button>
                        </li>
                    </ul>
                </div>
                  
                <div class="tab-body">
                    <div class="title">
                        <h3 class="fs-14">밑에 배치 되어 있는 서비카드의 금액을 메인카드로 전환해보세요. 카드에 따라 전환할 수 있는 금액이 다를 수 있습니다.</h3>
                    </div>

                    <div id="tabpanel21" role="tabpanel" aria-labelledby="tabItem21" class="tab-cont is-active">
                        <draggable group="people" @start="drag=true" @end="drag=false">
                            <div class="item multi-time-sale time-sale" v-for="(data, index) in cardList">
                                <div class="weekday">
                                    <div class="items">
                                        <div style="position: absolute;
                                                        right: 61px;
                                                        top: 61px;
                                                        display: block;
                                                        width: 100px;
                                                        height: 100px;
                                                        text-align: right;">
                                            <div @click="isHidden = !isHidden">
                                                <b-icon icon="star" font-scale="1.5" v-if="isHidden"></b-icon>
                                                <b-icon icon="star-fill" font-scale="1.5" v-else></b-icon>
                                            </div>
                                        </div>
                                        <div @click="goPage('/card/change_sw')">
                                            <div class="thumbnail_list">
                                                <div class="cardBox pd15" style="height: 27vw; width: 85%; border-radius: 3.56vw;">
                                                    <div class="cardName fc-white fs-14 fw-bold">1번 카드</div>
                                                </div>
                                            </div>
                                            
                                            <div class="desc">
                                                <!-- <div style="width: 30%;">
                                                    <div style="    
                                                    display: flex;
                                                    align-items: center;
                                                    height: 6.99vw;
                                                    justify-content: center;
                                                    border: 1px solid rgb(36, 150, 238);
                                                    border-radius: 100px;
                                                    /* width: 30%; */
                                                    /* height: 6.99vw; */
                                                    /* text-align: center; */">메인카드</div>
                                                    </div> -->
                                                <div class="cardMag">
                                                    <p class="name fs-14">{{data.cardName}}</p>
                                                    <div class="price"><p class="sum fs-num">{{data.cardBalance}}C</b></div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </draggable>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Section -->
      </div>      
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">

        var app = new Vue({
            el: "#app",
            data: {
                isHidden: true,
                cardList : {},
            },
            mounted: function () {
                this.init();
                this.getCardList();
            },
            methods: {
                init : function(){
                },
                clickedButton: function() {
                    this.isStatusOn = !this.isStatusOn;
                },
                getCardList : function(){
                    param = {
                    }
                    console.log(param)
                    cf_call("/card/main/getCardList", param, this.getCardListCB);
                },
                getCardListCB : function(data){
                    console.log(data.cardList)
                    this.cardList = data.cardList;
                },
            },
            computed: {

            }
        })
    </script>
</th:block>

</html>