<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <link rel="stylesheet" th:href="@{/card/css/main.css}">
</head>
<div layout:fragment="content" class="content">
    <div class="mrl20 mrr20 mrt20">

        <div class="loginWrap">
            <div class="radio-demo1-area">
                <span class="radio demo1">
                    <input type="radio" name="sRadio1" id="sRadio11" checked="">
                    <label for="sRadio11"><span>Korea</span></label>
                </span>
                <span class="radio demo1">
                    <input type="radio" name="sRadio1" id="sRadio12">
                    <label for="sRadio12"><span>Global</span></label>
                </span>
            </div>
            <input type="text" class="fs-14" value="" placeholder="ID">
            <input type="password" class="fs-14" value="" placeholder="PW">
            <div class="loginBtn">로그인</div>
            <div class="loginCntWrap">
                <div>아이디 찾기</div>
                <div class="hBar"></div>
                <div>아이디 찾기</div>
                <div class="hBar"></div>
                <div>회원가입</div>
            </div>
        </div>

        <div class="eventWrap mrt20">
            <div class="eventTop flex f-btw mrr15">
                <div class="fw-bold fs-14">일상의 혜택</div>
                <div class="flex f-btw align-center" @click="goEvent('list')">
                    <div class="fs-10 mrr5">
                        더보기
                    </div>
                    <div class="arrowRG flex align-center">
                        <img th:src="@{/_common/img/arrow-right-gray.png}">
                    </div>
                </div>
            </div>

            <div class="eventCnt flex f-clm mrt15 pdr15 pdl15">
                <div class="flex f-btw pdt15 pdb15" @click="goEvent('detail')">
                    <div class="eventTextWrap">
                        <div class="fw-bold">더우니까 줄서지 마세요</div>
                        <div class="fs-10">터치 몇번으로 주문은 간단하게</div>
                    </div>
                    <div class="flex align-center">
                        <div class="eventProd mrr10">
                            <img th:src="@{/event/img/event_prod_01.png}">
                        </div>
                        <div class="arrowRG">
                            <img th:src="@{/_common/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>

                <div class="bar-gray"></div>

                <div class="flex f-btw pdt15 pdb15">
                    <div class="eventTextWrap">
                        <div class="fw-bold">더우니까 줄서지 마세요</div>
                        <div class="fs-12">터치 몇번으로 주문은 간단하게</div>
                    </div>
                    <div class="flex align-center">
                        <div class="eventProd mrr10">
                            <img th:src="@{/event/img/event_prod_02.png}">
                        </div>
                        <div class="arrowRG">
                            <img th:src="@{/_common/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>

                <div class="bar-gray"></div>

                <div class="flex f-btw pdt15 pdb15">
                    <div class="eventTextWrap">
                        <div class="fw-bold">더우니까 줄서지 마세요</div>
                        <div class="fs-12">터치 몇번으로 주문은 간단하게</div>
                    </div>
                    <div class="flex align-center">
                        <div class="eventProd mrr10">
                            <img th:src="@{/event/img/event_prod_03.png}">
                        </div>
                        <div class="arrowRG">
                            <img th:src="@{/_common/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    card Main
    <div>
        <a href="/sample">sample</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/card/history">이용내역</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/event/list">이벤트</a>
    </div>

</div>


<th:block layout:fragment="script">
  <script type="text/javascript">

    var app = new Vue({
      el: "#app",
      data: {
      },
      mounted: function () {
      },
      methods: {

          goEvent : function(val){
              if(val == "list"){
                  location.href="/event/list"
              }else{
                  location.href="/event/detail"
              }
          }
      },
      computed: {
      }
    })
  </script>
</th:block>

</html>