<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <link rel="stylesheet" th:href="@{/card/css/main.css}">

    <!-- Swiper library S -->
    <link href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
    <!-- vue-awesome-swiper -->
    <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper"></script>
    <script type="text/javascript">Vue.use(window.VueAwesomeSwiper)</script>
    <!-- Swiper library E -->
</head>

<div layout:fragment="content" class="content">

    <div class="loginWrap mrl20 mrr20 mrt20" style="display: none">
        <div class="radio-demo1-area mrt10">
            <span class="radio demo1">
                <input type="radio" name="sRadio1" id="sRadio11" checked="">
                <label for="sRadio11"><span class="fs14">Korea</span></label>
            </span>
            <span class="radio demo1">
                <input type="radio" name="sRadio1" id="sRadio12">
                <label for="sRadio12"><span class="fs14">Global</span></label>
            </span>
        </div>
        <input type="text" class="loginInput mrt10" v-model="id" placeholder="ID">
        <input type="password" class="loginInput mrt10" v-model="pw" placeholder="PW">
        <div class="loginBtn mrt10" @click="login()">로그인</div>
        <div class="loginCntWrap flex f-evn mrt10 mrb10">
            <div class="loginCntBtn">아이디 찾기</div>
            <div class="hBar"></div>
            <div class="loginCntBtn">비밀번호 찾기</div>
            <div class="hBar"></div>
            <div class="loginCntBtn" @click="goSignUp">회원가입</div>
        </div>
    </div>
    <div class="cardWrap">
        <div class="pageTitle mrl20 mrr20 mrt20">
            <div class="fs-14 fw-bold"><span class="fc-blue fs-14 fw-bold">셔틀카드</span>고객님!</div>
            <div class="fs-14 mrt5 mrb10">안녕하십니까?</div>
        </div>
        <div class="swiper-pagination"></div>
        <swiper ref="swiperComponent" :options="swiperOption()">
            <swiper-slide>
                <div class="cardBox pd15">
                    <div class="cardName fc-white fs-14 fw-bold">1번 카드</div>
                    <div class="fc-white fs-10 mrt5">1234-1234-1234-1234</div>
                    <div class="flex f-btw mrt25 mrb25">
                        <div class="fc-white fs-14">사용 가능 금액</div>
                        <div class="fc-white fs-14">5,000 C</div>
                    </div>
                    <div class="bar-white"></div>
                    <div class="cardHis flex f-btw mrt15">
                        <div class="fc-white">7월에 <span>9,900 C </span>사용</div>
                        <div class="cardHisArrow">
                            <img th:src="@{/card/img/arrow-down-white.png}">
                        </div>
                    </div>
                </div>
                <div class="cardHisAco">
                    <div class="hisCont mrb15 pdb15">
                        <div class="flex f-btw">
                            <div class="">아웃백 사당점</div>
                            <div class="fc-blue fw-bold">3,300 C</div>
                        </div>
                        <div class="flex f-btw mrt5">
                            <div class="fc-gray fs-10">2021.0723 14:20:45</div>
                            <div class="fc-gray fs-10">잔액 25,000 C</div>
                        </div>
                    </div>
                    <div class="hisCont mrb15 pdb15">
                        <div class="flex f-btw">
                            <div class="">아웃백 사당점</div>
                            <div class="fc-blue fw-bold">3,300 C</div>
                        </div>
                        <div class="flex f-btw mrt5">
                            <div class="fc-gray fs-10">2021.0723 14:20:45</div>
                            <div class="fc-gray fs-10">잔액 25,000 C</div>
                        </div>
                    </div>
                    <div class="hisCont mrb15 pdb15">
                        <div class="flex f-btw">
                            <div class="">아웃백 사당점</div>
                            <div class="fc-blue fw-bold">3,300 C</div>
                        </div>
                        <div class="flex f-btw mrt5">
                            <div class="fc-gray fs-10">2021.0723 14:20:45</div>
                            <div class="fc-gray fs-10">잔액 25,000 C</div>
                        </div>
                    </div>
                    <div class="flex f-center" @click="goHistory()">
                        <div class="fs-10 mrr10">더보기</div>
                        <div class="cardHisDetailArrow">
                            <img th:src="@{/card/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="cardBox pd15" style="background-color: #e80a4d;">
                    <div class="cardName fc-white fs-14 fw-bold">1번 카드</div>
                    <div class="fc-white fs-10 mrt5">1234-1234-1234-1234</div>
                    <div class="flex f-btw mrt25 mrb25">
                        <div class="fc-white fs-14">사용 가능 금액</div>
                        <div class="fc-white fs-14">5,000 C</div>
                    </div>
                    <div class="bar-white"></div>
                    <div class="cardHis flex f-btw mrt15">
                        <div class="fc-white">7월에 <span>9,900 C </span>사용</div>
                        <div class="cardHisArrow">
                            <img th:src="@{/card/img/arrow-down-white.png}">
                        </div>
                    </div>
                </div>
                <div class="cardHisAco">
                    <div class="hisCont mrb15 pdb15">
                        <div class="flex f-btw">
                            <div class="">아웃백 사당점</div>
                            <div class="fc-blue fw-bold">3,300 C</div>
                        </div>
                        <div class="flex f-btw mrt5">
                            <div class="fc-gray fs-10">2021.0723 14:20:45</div>
                            <div class="fc-gray fs-10">잔액 25,000 C</div>
                        </div>
                    </div>
                    <div class="hisCont mrb15 pdb15">
                        <div class="flex f-btw">
                            <div class="">아웃백 사당점</div>
                            <div class="fc-blue fw-bold">3,300 C</div>
                        </div>
                        <div class="flex f-btw mrt5">
                            <div class="fc-gray fs-10">2021.0723 14:20:45</div>
                            <div class="fc-gray fs-10">잔액 25,000 C</div>
                        </div>
                    </div>
                    <div class="hisCont mrb15 pdb15">
                        <div class="flex f-btw">
                            <div class="">아웃백 사당점</div>
                            <div class="fc-blue fw-bold">3,300 C</div>
                        </div>
                        <div class="flex f-btw mrt5">
                            <div class="fc-gray fs-10">2021.0723 14:20:45</div>
                            <div class="fc-gray fs-10">잔액 25,000 C</div>
                        </div>
                    </div>
                    <div class="flex f-center" @click="goHistory()">
                        <div class="fs-10 mrr10">더보기</div>
                        <div class="cardHisDetailArrow">
                            <img th:src="@{/card/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>
            </swiper-slide>

        </swiper>

    </div>

    <div class="mrl20 mrr20 mrt20">
        <div class="cardBtnWrap flex f-clm mrt20">
            <div class="flex f-evn">
                <div class="flex f-clm align-center cardBtn" @click="popupOpen('popupTop')">
                    <div class="cardBtnImg">
                        <img th:src="@{/card/img/pay.png}">
                    </div>
                    <div class="fs-10 mrt5">결제</div>
                </div>
                <div class="hBar"></div>
                <div class="flex f-clm align-center cardBtn" @click="onQrScanner()">
                    <div class="cardBtnImg">
                        <img th:src="@{/card/img/charge.png}">
                    </div>
                    <div class="fs-10 mrt5">충전</div>
                </div>
                <div class="hBar"></div>
                <div class="flex f-clm align-center cardBtn">
                    <div class="cardBtnImg">
                        <img th:src="@{/card/img/admin.png}">
                    </div>
                    <div class="fs-10 mrt5">결제 관리</div>
                </div>
            </div>
            <div class="flex f-evn mrt20">
                <div class="flex f-clm align-center cardBtn" @click="goRegist()">
                    <div class="cardBtnImg">
                        <img th:src="@{/card/img/regist.png}">
                    </div>
                    <div class="fs-10 mrt5">등록</div>
                </div>
                <div class="hBar"></div>
                <div class="flex f-clm align-center cardBtn">
                    <div class="cardBtnImg">
                        <img th:src="@{/card/img/mainOff.png}">
                    </div>
                    <div class="fs-10 mrt5">메인카드</div>
                </div>
                <div class="hBar"></div>
                <div class="flex f-clm align-center cardBtn" @click="test()">
                    <div class="cardBtnImg">
                        <img th:src="@{/card/img/change.png}">
                    </div>
                    <div class="fs-10 mrt5">전환</div>
                </div>
            </div>
        </div>

        <div class="eventWrap mrt20">
            <div class="eventTop flex f-btw mrr15">
                <div class="fw-bold fs-14">일상의 혜택</div>
                <div class="flex f-btw align-center" @click="goEvent('list')">
                    <div class="fs-10 mrr5">
                        더보기
                    </div>
                    <div class="arrowRG flex align-center">
                        <img th:src="@{/_common/img/arrow-right-gray.png}">
                    </div>
                </div>
            </div>

            <div class="eventCnt flex f-clm mrt15 pdr15 pdl15">
                <div class="flex f-btw pdt15 pdb15" @click="goEvent('detail')">
                    <div class="eventTextWrap">
                        <div class="fw-bold">더우니까 줄서지 마세요</div>
                        <div class="fs-10">터치 몇번으로 주문은 간단하게</div>
                    </div>
                    <div class="flex align-center">
                        <div class="eventProd mrr10">
                            <img th:src="@{/event/img/event_prod_01.png}">
                        </div>
                        <div class="arrowRG">
                            <img th:src="@{/_common/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>

                <div class="bar-gray"></div>

                <div class="flex f-btw pdt15 pdb15">
                    <div class="eventTextWrap">
                        <div class="fw-bold">더우니까 줄서지 마세요</div>
                        <div class="fs-10">터치 몇번으로 주문은 간단하게</div>
                    </div>
                    <div class="flex align-center">
                        <div class="eventProd mrr10">
                            <img th:src="@{/event/img/event_prod_02.png}">
                        </div>
                        <div class="arrowRG">
                            <img th:src="@{/_common/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>

                <div class="bar-gray"></div>

                <div class="flex f-btw pdt15 pdb15">
                    <div class="eventTextWrap">
                        <div class="fw-bold">더우니까 줄서지 마세요</div>
                        <div class="fs-10">터치 몇번으로 주문은 간단하게</div>
                    </div>
                    <div class="flex align-center">
                        <div class="eventProd mrr10">
                            <img th:src="@{/event/img/event_prod_03.png}">
                        </div>
                        <div class="arrowRG">
                            <img th:src="@{/_common/img/arrow-right-gray.png}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout:fragment="popup">
            <div id="popupDialog" class="popup-wrap type-basic">
                <section class="popup demo1">
                    <div class="popup-body">
                        <div class="popup-content">
                            {{alertText}}
                        </div>
                    </div>
                    <div class="popup-foot">
                        <div class="btn_wrap">
                            <!--                        <button type="button" class="btn btn-close" onclick="popupClose('popupDialog')"><span>닫기</span></button>-->
                            <button type="button" class="btn btn btn-succ-all" @click="popupCloseMain()"><span>확인</span></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
    <div layout:fragment="slideTopPopup">
        <div id="popupTop" class="popup-wrap-top type-select" role="dialog" aria-modal="false">
            <section class="popup slide">
                <div class="popup-head">
                    <h3 class="popup-tit ">결제하기</h3>
                </div>

                <div class="popup-body flex f-clm">
                    <div class="payTab" :class="{'on':payTab == 1}">
                        <div style="height: 75vw;">
                            <div class="qrImg">
                                <img th:src="@{/card/img/qr_off.png}">
                            </div>
                            <div class="payText fs-14 fw-bold mrt10">사용가능 금액</div>
                            <div class="fs-14 mrt10 mrb10">5,000 C</div>
                            <div class="mrb20">
                                <input class="payInput fs-14 text-c fc-blue" type="number"> C
                            </div>
                        </div>
                        <div class="btn_wrap-top flex f-center align-center">
                            <div class="fw-bold fc-blue" @click="payment(2), reCount()">결제하기</div>
                        </div>
                    </div>
                    <div class="payTab" :class="{'on':payTab == 2}" >
                        <div style="height: 75vw;">
                            <div class="qrImg">
                                <img th:src="@{/card/img/qr_on.png}">
                            </div>
                            <div class="payText fs-14 fw-bold mrt10">결제예정 금액</div>
                            <div class="fs-14 mrt10 mrb10">2,000 C</div>
                            <div class="mrb20">
                                <div class="fs-16 fc-blue mrt20">{{verifyTimeText}}</div>
                            </div>
                        </div>
                        <div class="btn_wrap-top flex f-center align-center">
                            <div class="fw-bold fc-blue" @click="reCount()">재요청</div>
                        </div>
                    </div>
                </div>
                <div class="popup-close">
                    <button type="button" class="btn btn-close" @click="[popupClose('popupTop'), payment(1)]"><span>닫기</span></button>
                </div>
            </section>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">


        var app = new Vue({
            el: "#app",
            data: {
                id : "pentas",
                pw : "",
                alertText : "",


                cardSeq : 0,

                payTab : 1,
                verifyTime : 0,
                verifyTimeText : "01:00",
                timerInterval : null
            },
            mounted: function () {
                this.init();
            },
            methods: {
                init : function(){
                    $(".cardBox").click(function() {
                        $(this).next(".cardHisAco").stop().slideToggle(300);
                        $(this).toggleClass('on').siblings().removeClass('on');
                        $(this).next(".cardHisAco").siblings(".cardHisAco").slideUp(300); // 1개씩 펼치기
                    });
                },
                login : function(){
                    if(this.id !== "pentas"){
                        this.alertText = "아이디를 확인 해주세요!"
                        popupOpen('popupDialog');
                        return;
                    }else if(this.pw !== "1234"){
                        this.alertText = "비밀번호를 확인 해주세요!"
                        popupOpen('popupDialog');
                        return;
                    }
                    cf_call("/card/main/loginProc", {login : "succ"}, this.loginCB)
                },

                loginCB : function(data){
                    console.log(data)
                },
                swiperOption : function(){
                    return {
                        // 'allowTouchMove': value,
                        'pagination': {
                            'el': '.swiper-pagination',
                            'type': 'fraction',
                            // 'clickable' : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
                        },
                        on: {
                            'slideChangeTransitionEnd': function () {
                                this.cardSeq = this.activeIndex;
                                $(".cardBox").next(".cardHisAco").stop().slideUp(300);
                            }
                        },
                        effect: 'coverflow',
                        coverflowEffect: {
                            rotate: 0,
                            stretch: 0,
                            depth: 300,
                            slideShadows: false,
                        }
                    };
                },

                onQrScanner : function(){
                    window.Android.onQrScanner();
                },
                qrScanResult : function (rsltData){
                    this.alertText = "충전이 완료되었습니다."
                    popupOpen('popupDialog');
                },

                payment : function(val){
                    if(val === 1){
                        clearInterval(this.timerInterval);
                    }
                    this.payTab = val;
                },
                reCount : function(){
                    this.verifyTimeText = "01:00";//60000
                    this.verifyTime = new Date(Date.now() + 60000);
                    this.timerInterval = setInterval(this.countDown, 1000);
                },
                countDown : function(){
                    var seconds = Math.round((this.verifyTime - Date.now()) / 1000);
                    var min = Math.floor(seconds / 60);
                    if(seconds <= 0 && min <= 0) {
                        clearInterval(this.timerInterval);
                        this.alertText = "시간이 지났습니다!"
                        popupOpen('popupDialog');
                        return;
                    }
                    this.verifyTimeText = "0" + min + ":" + this.pad(seconds - (min * 60), 2);
                },
                pad : function (n, width) {
                    n = n + '';
                    return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
                },
                popupCloseMain : function(){
                    this.payment(1);
                    popupClose('popupDialog');
                    popupClose('popupTop');
                },

                goHistory : function(){
                    location.href="/card/history"
                },
                goRegist : function(){
                    location.href="/card/register"
                },
                goSignUp : function(){
                    location.href="/member/signUp"
                },
                goEvent : function(val){
                    if(val == "list"){
                        location.href="/event/list"
                    }else{
                        location.href="/event/detail"
                    }
                },
                sessionCheck : function(){
                    cf_call("/card/main/sessionCheck", {}, this.loginCB)
                },
            },
            computed: {
            }
        })
    </script>
</th:block>

</html>