<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Shuttle Card</title>
    <!--공통 영역-->
    <th:block th:replace="fragment/cmmn :: cmmnFragment" ></th:block>
</head>

<body>
    <!-- vue 렌더링 감추기 -->
    <div id="app" v-cloak>

        <!-- fragment/header == 경로-->
        <!-- headerFragment == 경로 파일중 th:fragment="headerFragment 정의된 곳"-->
        <th:block th:replace="fragment/header :: headerFragment"></th:block>

        <th:block layout:fragment="content"></th:block>

        <th:block th:replace="fragment/footer :: footerFragment"></th:block>

        <!--페이지 js -->
    </div>

    <th:block layout:fragment="popup"></th:block>
    <th:block layout:fragment="popupAlert"></th:block><!-- 확인버튼 1개만 -->
    <th:block layout:fragment="popupDuble"></th:block> <!-- 슬라이드 팝업에서 완료 얼럿창 -->
    <th:block layout:fragment="slideTopPopup"></th:block>
    <th:block layout:fragment="slideFootPopup"></th:block>

    <th:block layout:fragment="script"></th:block>
</body>

</html>