/* 헤더 css 모음 */
.header {
    position: relative;
    height: 13.89vw;
    border-bottom: 0.56vw solid #e5e5e5;
}
.header::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 13.89vw;
    visibility: hidden;
}
.tenten_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13.89vw;
    padding: 0 5.56vw;
    background: #f1f5f8;
}

/* .header_opener {
    width: 5.56vw;
    height: 5.56vw;
    margin-right: 1.39vw;
    background: url(../../../resources/static/_common/img/arrow.png) no-repeat center / contain;
} */

.blind {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;

    color: transparent;
}

.header_logo {
    margin-right: auto;
}

.header_inner .util {display:flex; align-items:center;}
.header_inner .util .btn_goapp span {display:table-cell; vertical-align:middle; height:2.08rem; padding: 0.2rem 0.73rem 0 0.69rem; font-size:1.04rem; color:#ff214f; font-family:'CoreSansCBold', 'AppleSDGothicNeo-Bold', 'NotoSansKRBold'; border: 0.1rem solid #ff214f; border-radius: 1.04rem;}
.header_inner .util .btn_shoppingbag {margin-left:1rem;}
.header_inner .util a {display:inline-block; position:relative; margin-left:1.29rem;}
.header_inner .util [class^="i_"] {font-size: 6.56vw;}
.header_inner .util .badge {position:absolute; right:0; bottom:-.34rem; min-width:1.37rem; height:1.37rem; padding:.1em .4em 0; line-height:1.37rem; text-align:center; font-family:'CoreSansCBold'; font-size:.94rem; color:var(--white); background:var(--ten); border-radius:.7rem;}
.headerIcon{
    display: flex;
    width: 4.16vw;
    height: 4.16vw;
}


/* footer */
.footer {
    position: relative;
}
.footer .footer_main {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.footer .footer_inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13.89vw;
    /* padding: 0 5.56vw; */
    background: #fff;
    border-top: 0.56vw solid #e5e5e5;
}
.footer .footer_inner > li {
    display: flex;
    width: 6.11vw;
    height: 6.11vw;
    margin-right: .68rem;
    align-items: center;
    justify-content: center;
}




/* .btn {
    flex: none;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    vertical-align: middle;
} */


.btn.demo1 {
    height: 13.89vw;
    padding: 0 5.56vw 0;
    border: 1px solid #ddd;
    border-radius: 0.83vw;
    line-height: 7.50vw;
    color: #333;
}

/*-------------------------------------------------------------------
   @Popup
-------------------------------------------------------------------*/
/* Popup Layout */
.popup-wrap {visibility:hidden; display:flex; position:fixed; z-index:1002; left:0; top:0; width:100%; height:100%; padding:5.56vw; justify-content:center; align-items:center; flex-direction:column;}
.popup {position:relative; z-index:11; width:100%; background-color:#fff; opacity:0; transition:all 0.2s ease;}
.popup-wrap::after {content:''; visibility:hidden; display:block; position:absolute; left:0; top:0; right:0; bottom:0; z-index:10; background:rgba(0,0,0,0.7); opacity:0; transition:all ease 0.3s 0.15s;}
.popup-wrap.is-active {visibility:visible;}
.popup-wrap.is-active .popup {opacity:1;}
.popup-wrap.is-active::after {visibility:visible; opacity:1; transition-delay:0s;}
.popup-wrap.is-active.is-disabled::after {visibility:hidden; opacity:0; transition-delay:0s;}

/* Popup Scroll */
.popup {display:flex; flex-direction:column;}
.popup .popup-body {flex:1 1 auto; overflow:auto;}
.popup .popup-head, .popup .popup-foot {flex:none;}

/* Transition */
.popup-wrap.type-basic .popup {transform:translate(0, 8.33vw);}
.popup-wrap.type-full {padding:0;}
.popup-wrap.type-full .popup {width:100%; height:100%; min-height:100%; opacity:1; transform:translate(0, 0);}
.popup-wrap.type-select {padding:0; justify-content:flex-end;}
.popup-wrap.type-select .popup {width:100%; transform:translate(0, 100%);}
.popup-wrap.type-alert .popup {transform:translate(0, 8.33vw);}
.popup-wrap.type-confirm .popup {transform:translate(0, 8.33vw);}
.popup-wrap.is-active .popup {transform:translate(0,0); width: 100%}