

/*-------------------------------------------------------------------
   @Popup
-------------------------------------------------------------------*/
/* Popup Layout */
.popup-wrap {visibility:hidden; display:flex; position:fixed; z-index:1002; left:0; top:0; width:100%; height:100%; padding:5.56vw; justify-content:center; align-items:center; flex-direction:column;}
.popup-wrap-top {visibility:hidden; display:flex; position:fixed; z-index:1002; left:0; top:0; width:100%; height:100%; padding:5.56vw; justify-content:center; align-items:center; flex-direction:column;}
.popup {position:relative; z-index:11; width:100%; background-color:#fff; opacity:0; transition:all 0.2s ease;}
.popup-wrap::after {content:''; visibility:hidden; display:block; position:absolute; left:0; top:0; right:0; bottom:0; z-index:10; background:rgba(0,0,0,0.7); opacity:0; transition:all ease 0.3s 0.15s;}
.popup-wrap.is-active {visibility:visible;}
.popup-wrap.is-active .popup {opacity:1;}
.popup-wrap.is-active::after {visibility:visible; opacity:1; transition-delay:0s;}
.popup-wrap.is-active.is-disabled::after {visibility:hidden; opacity:0; transition-delay:0s;}

.popup-wrap-top::after {content:''; visibility:hidden; display:block; position:absolute; left:0; top:0; right:0; bottom:0; z-index:10; background:rgba(0,0,0,0.7); opacity:0; transition:all ease 0.3s 0.15s;}
.popup-wrap-top.is-active {visibility:visible;}
.popup-wrap-top.is-active .popup {opacity:1;}
.popup-wrap-top.is-active::after {visibility:visible; opacity:1; transition-delay:0s;}
.popup-wrap-top.is-active.is-disabled::after {visibility:hidden; opacity:0; transition-delay:0s;}

/* Popup Scroll */
.popup {display:flex; flex-direction:column;}
.popup .popup-body {flex:1 1 auto; overflow:auto;}
.popup .popup-head, .popup .popup-foot {flex:none;}

/* Transition */
.popup-wrap.type-basic .popup {transform:translate(0, 8.33vw);}
.popup-wrap.type-full {padding:0;}
.popup-wrap.type-full .popup {width:100%; height:100%; min-height:100%; opacity:1; transform:translate(0, 0);}
.popup-wrap.type-select {padding:0; justify-content:flex-end;}
.popup-wrap-top.type-select {padding:0; justify-content:flex-start;}
.popup-wrap.type-select .popup {width:100%; transform:translate(0, 100%);}
.popup-wrap-top.type-select .popup {width:100%; transform:translate(0, -100%);}
.popup-wrap.type-alert .popup {transform:translate(0, 8.33vw);}
.popup-wrap.type-confirm .popup {transform:translate(0, 8.33vw);}
.popup-wrap.is-active .popup {transform:translate(0,0);}
.popup-wrap-top.is-active .popup {transform:translate(0,0);}


/* 팝업 기본셋팅 */
.popup-head {display:flex; align-items:center; flex:none; padding: 2.78vw 5.56vw; height: 13.89vw; }
.popup-body {overflow:auto; line-height:1.5; text-align: center;}
/* 최상단 타이틀 */
.popup-tit {font-size:4.44vw; font-weight: bold;}

/* --------------------- */
/* 팝업 기본 버튼 */
.popup-foot {}
.btn_wrap {display: flex;}
/* 얼럿버튼 [s] */
.popup .btn-close-al {border-right:1px solid #ddd; }
.popup .btn-succ-all {width: 100%; border-radius: 0px; height: 13.89vw;border-top: 1px solid #ddd;}
.popup .btn-char {    
    /* height: 40px; */
    height: 13.11vw;
    /* font-size: 3.89vw; */
    margin-top: 5vw;
    border: 1px solid #ddd;}
.popup .btn-close-al, .btn-succ-al {width: 50%; height: 13.89vw; border-radius: 0px; border-top:1px solid #ddd;}
.popup .btn-close-al span, .btn-succ-al span, .btn-succ-all span {font-size: 3.89vw;}
.btn_wrap-top{
    height: 13.89vw;
    border-top: 1px solid #ddd;
}

/* 얼럿버튼 [e] */
.popup .btn-exit {width:50%; border-radius: 0px; color: #fff; height: 13.89vw; background: #1a1a1a; }
/* .popup .btn-exit {width:50%; border-radius: 0px; color: #fff; height: 13.89vw; background: #1a1a1a; } */
.popup .btn-succ {width: 50%; border-radius: 0px; height: 13.89vw; color: #fff; background: #2496ee;}
.popup .btn-price {width: 100%; height: 13.89vw; color: #fff; background: #2496ee;}
.popup .popup-close {position:absolute; right:0.56vw; top:0; padding: 2.56vw 0; display:flex; align-items:center; justify-content:center;}
.popup .popup-close .btn-close span {    width: 6vw;
    height: 4.17vw;
    background: url(../../_common/img/ico_close01.png) no-repeat -3.17vw 0;
    text-indent: -9999px;
    background-size: 13vw;}
.popup .btn-exit span, 
.popup .btn-succ span, 
.popup .btn-price span, 
.popup .popup-close .btn-close span{ font-size: 3.89vw; }
/* 팝업 기본 버튼 */



/* 얼럿 */
.popup.demo1 {width: 83.33vw; border:1px solid #ddd; background-color:#fff; border-radius: 5.56vw; }
.popup.demo1 .popup-head {display:flex; align-items:center; flex:none; padding: 2.78vw 5.56vw; height: 13.89vw; }
.popup.demo1 .popup-body {padding:11.11vw 5.56vw; overflow:auto; line-height:1.5; text-align: center;}
.popup.demo1 .popup-foot {}


/* 슬라이드 팝업 [커스터마이징] - 아래에서 위로 */
/* .popup-foot .btn_wrap {display: flex;} */
.popup-wrap-top .popup.slide {width:100%; height: 116vw; border:1px solid #ddd; background-color:#fff; border-radius: 0 0 5.56vw 5.56vw;}
.popup-wrap-top .popup.slide .popup-head{display:flex; align-items:center; flex:none; padding:8.33vw 5.56vw; height:13.89vw; border:none;}

.popup.slide {width:41.67vw; border:1px solid #ddd; background-color:#fff; border-radius: 5.56vw 5.56vw 0 0;}
.popup.slide .popup-head {display:flex; align-items:center; flex:none; padding:8.33vw 5.56vw; height:13.89vw; border-bottom: 0.56vw solid #1a1a1a;}
.popup.slide .popup-body {overflow:auto; line-height:1.5;}
.popup.slide .popup-body .popup-content {position: relative;width: 100%;padding: 5.56vw;} 
.popup.slide .popup-body .popup-content .popup-con-head{display: flex; justify-content: space-between; padding: 0px 0 5.56vw 0; border-bottom:1px solid #e5e5e5;}
.popup.slide .popup-body .popup-content .popup-con-head p { font-size: 3.89vw; }
.popup.slide .popup-body .popup-content .popup-con-body{}
.popup.slide .popup-body .popup-content .popup-con-body .price-con-cl{display: flex; justify-content: space-between;border-top: 0.56vw solid #1a1a1a;}
.popup.slide .popup-body .popup-content .popup-con-body .option-selec{padding: 5.56vw 0;}
.popup.slide .popup-body .popup-content .popup-con-body .popup-head-tit{font-weight: bold; font-size: 4.44vw; text-align: left;}
.popup.slide .popup-body .popup-content .popup-con-body .popup-head-tit span{color: #d3002e; margin-left: 2.78vw;}

.popup.slide .popup-body .popup-content .popup-con-body .silde-list{ padding: 5.56vw 0 0 0; }
.popup.slide .popup-body .popup-content .popup-con-body .option{ display: flex; }
.popup.slide .popup-body .popup-content .popup-con-body .option .option-price{ display: flex; align-items: center; margin-left: auto; }

.price-con-foot {  }

