<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<head>
    <link rel="stylesheet" th:href="@{/card/css/register.css}">
</head>

<div layout:fragment="content" class="content">
    <div class="mrl20 mrr20 mrt20">
        <div class="pageTitle">
            <div class="fs-14 mrt5 mrb10 fw-bold">회원 정보를 입력해 주세요.</div>
        </div>
        <div class="mrt20">ID</div>
        <input type="text"  class="wid100 mrt10" placeholder="shuttle@shuttle.com">

        <div class="mrt20">PW</div>
        <input type="password"  class="wid100 mrt10">

        <div class="mrt20">PW Check</div>
        <input type="password"  class="wid100 mrt10">
        <div class="flex f-btw">
            <div>
                <div class="mrt20">Name</div>
                <input type="text"  class="wh mrt10" placeholder="Name">
            </div>
            <div>
                <div class="mrt20">Phone Number</div>
                <input type="text"  class="wh mrt10" placeholder="010-5346-1234" onkeyup="telePhoneCheck(this)">
            </div>
        </div>

        <div class="pageTitle">
            <div class="fs-14 mrt40 mrb10 fw-bold">카드 정보를 입력해 주세요.</div>
        </div>
        <div class="mrt20">Card No</div>
        <div class="cardNumInput mrt10">
            <input type="number" class="inputs text-c" @input="nextInput('card02')" pattern="\d*" id="card01" maxlength="4"><div class="bar-black"></div>
            <input type="number" class="inputs text-c" @input="nextInput('card03')" pattern="\d*" id="card02" maxlength="4"><div class="bar-black"></div>
            <input type="number" class="inputs text-c" @input="nextInput('card04')" pattern="\d*" id="card03" maxlength="4"><div class="bar-black"></div>
            <input type="number" class="inputs text-c" @input="nextInput('cardPw')" pattern="\d*" id="card04" maxlength="4">
        </div>
        <div class="mrt10">Card PW</div>
        <input type="password" class="wid100 mrt10" id="cardPw">
        <div class="com-btn mrt20">
            <button type="button" @click="onQrScanner()" class="btn btn-com">
                <span class="fs-14">CARD QR SCAN</span>
            </button>
        </div>
        <div class="fs-10 fc-gray mrt20 text-c">카드정보는 카드사를 통한 인증 후 별도로 이용하지 않습니다.</div>
        <div class="com-btn registBtn mrt60" style="">
            <button type="button" @click="signUp" class="btn btn-com">
                <span class="fs-14">Sign Up</span>
            </button>
        </div>
    </div>

    <div layout:fragment="popup">
        <div id="popupDialog" class="popup-wrap type-basic">
            <section class="popup demo1">
                <div class="popup-body">
                    <div class="popup-content">
                        {{alertText}}
                    </div>
                </div>
                <div class="popup-foot">
                    <div class="btn_wrap">
                        <button type="button" class="btn btn btn-succ-all" @click="goMain()"><span>확인</span></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<th:block layout:fragment="script">
    <script type="text/javascript">

        var app = new Vue({
            el: "#app",
            data: {
                alertText : ""
            },
            mounted: function () {
            },
            methods: {
                onQrScanner : function(){
                    window.Android.onQrScanner();
                },
                qrScanResult : function (rsltData){
                    this.setCardNo(rsltData);
                },
                setCardNo : function(rsltData){
                    $("#card01").val(rsltData.toString().substring(0,4));
                    $("#card02").val(rsltData.toString().substring(4,8));
                    $("#card03").val(rsltData.toString().substring(8,12));
                    $("#card04").val(rsltData.toString().substring(12,16));
                },
                nextInput : function (nextId){
                    event.target.value=event.target.value.replace(/[^0-9]/g,'');
                    var charLimit = event.target.value.length;
                    //console.log(event.target.value);
                    //console.log(event.target.value.length);

                    if (4 == charLimit) {
                        $('#'+nextId).focus();
                    }
                    else if(4 < charLimit){
                        var a = event.target.value.substring(0,4);
                        var b = event.target.value.substring(4,8);
                        var c = event.target.value.substring(8,12);
                        var d = event.target.value.substring(12,16);
                        $('#card01').val(a);
                        $('#card02').val(b);
                        $('#card03').val(c);
                        $('#card04').val(d);
                    }
                },

                signUp : function(){
                    this.alertText = "회원가입이 완료되었습니다.";
                    popupOpen("popupDialog");
                },
                goMain : function(){
                    location.href = "/card/main"
                }

            },
            computed: {
            }
        })
    </script>
</th:block>

</html>