<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="cmmnFragment">

    <link rel="stylesheet" th:href="@{/_common/css/common.css}">
    <link rel="stylesheet" th:href="@{/_common/css/guide.css}">
    <link rel="stylesheet" th:href="@{/_common/css/main.css}">
    <link rel="stylesheet" th:href="@{/_common/css/margi.css}">
    <link rel="stylesheet" th:href="@{/_common/css/popup.css}">
    <link rel="stylesheet" th:href="@{/_common/css/reset.css}">

    <script type="text/javascript" th:src="@{/_common/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/_common/js/_common.js}"></script>



    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <script type="text/javascript" th:src="@{/js/lib/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vue.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/lib/jquery-1.10.2.min.js}"></script>-->

</th:block>

</html>