<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
    <div class="header">
        <header class="tenten_header header_main">
            <div class="header_inner">
                <button type="button" class="header_opener">
                    <div class="headerIcon" @click="goBack()">
                        <img th:src="@{/_common/img/arrow.png}" style="background-color: #f1f5f8">
                    </div>
                    <span class="blind">메뉴 열기</span>
                </button>
                <h1 class="header_logo">
                    <span class="back fs-14 mrl10" v-if="lang == 'en'">{{headerTitleEN}}</span>
                    <span class="back fs-14 mrl10" v-else>{{headerTitleKO}}</span>
                </h1>
                <div>
                    <a class="storeCart" @click="goPage('/order/order_cart')" style="color: #2496ee; display: none">
                        <template>
                            <b-row class="text-md-center">
                                <b-col md="6" class="mb-3">
                                    <b-icon icon="cart-check" animation="fade" font-scale="1.5" variant="primary"></b-icon>
                                </b-col>
                            </b-row>
                        </template>
                    </a>
<!--                    <a href="/order/order_cart">-->
<!--                        <b-icon icon="handbag" font-scale="1.6"></b-icon>-->
<!--                    </a>-->
                </div>
            </div>
        </header>
    </div>
</div>
</html>