.input.search {
    width: 100%;
    border-radius: 5.56vw 0px 0px 5.56vw;
}
/* 리스트형식 */
.tab-body {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.tab-body .search-list { padding-bottom: 5.56vw; }

.tab-body .search-list .storeNo, .tab-body .search-list .storeSer { text-align: center; }

.search-detail .weekday { margin-top: 0px; }

.search-detail .weekday .items {
    display: block;
    position: relative;
    height: 41.67vw;
    border-radius: 5.56vw;
}
.search-detail .weekday .thumbnail_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 41.67vw;
    height: 100%;
}

.search-detail .weekday .name {
    /* display: block; */
    margin-top: 0.8rem;
    height: 11.11vw;
    color: #000;
    font-size: 4.17vw;
    line-height: 1.2;
}
.items .desc {
    position: relative;
    display: flex;
    align-items: center;
}
.search-detail .weekday .desc {
    overflow: hidden;
    height: 100%;
    margin: 0 3.33vw 0 44.44vw;
    padding: 0;
    border-bottom: none;
}

.search-detail .weekday .list-content {
    display: inline-block;
    line-height: 1.3;
    height: 16.67vw;
    color: #777980;
    /* font-size: 4.17vw; */
    /* display: inline-block; */
    /* width: 200px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}