<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<head>
    <link rel="stylesheet" th:href="@{/event/css/event.css}">
</head>

<div layout:fragment="content" class="content">
    <div class="mrl20 mrr20 mrt20">
        <div class="pageTitle">
            <div class="fs-14 fw-bold">
                <span class="fc-blue fs-14 fw-bold mrr5">shuttle</span><span th:text="#{eventTitle01}">만의 특별한 혜택!</span>
            </div>
            <div class="fs-14 mrt5 mrb10" th:text="#{eventTitle02}">여러분도 만나 보시겠습니까?</div>
        </div>

        <div class="bannerBox mrb20" @click="goPage()">
            <div class="bannerTitle pdt30 pdl20">
                <div class="fs-16 fw-bold" style="line-height: 1.2" th:text="#{event_01_title}">더우니까 줄서지 마세요.</div>
                <div class="mrt10 fs-14" style="line-height: 1.2" th:text="#{event_01_subTitle}">터치 몇번으로 주문은<br> 간단하게</div>
            </div>
            <div class="bannerTop bg-green">
                <div class="bannerListImg">
                    <img th:src="@{/event/img/event_prod_01.png}">
                </div>
            </div>
            <div class="bannerFoot pdt10 pdb15 pdl15 pdr15">
<!--                <div class="fs-14" style="line-height: 1.2">-->
<!--                    전국 모든 매장에서 대상 카드로 불고기 버거 구매시 프라이드 1개 증정-->
<!--                </div>-->
                <div class="mrt5 flex">
                    <span class="fc-blue fs-14" th:text="#{event_info_02}">커피 주문시 커피 30% </span>
                    <span class="fs-14" th:text="#{event_info_03}">할인</span>
                </div>
                <div class="fs-12 mrt10 fc-gray">
                    2021.8.21 ~ 2021.12.31
                </div>
            </div>
        </div>

        <div class="bannerBox mrb20">
            <div class="bannerTitle pdt30 pdl20">
                <div class="fs-16 fw-bold" style="line-height: 1.2" th:text="#{event_01_title}">롯데월드 입장고객 <br>50% 특별우대</div>
                <div class="mrt10 fs-14" style="line-height: 1.2" th:text="#{event_01_subTitle}">이용티켓을 제시하면 <br>아이스링크 50%할인~!</div>
            </div>
            <div class="bannerTop bg-pink">
                <div class="bannerListImg">
                    <img th:src="@{/event/img/event_prod_02.png}">
                </div>
            </div>
            <div class="bannerFoot pdt10 pdb15 pdl15 pdr15">
<!--                <div class="fs-14" style="line-height: 1.2">-->
<!--                    롯데월드 어드벤쳐 20세 이상 대인-->
<!--                </div>-->
                <div class="mrt5 flex">
                    <span class="fc-blue fs-14" th:text="#{event_info_02}">커피 주문시 커피 30% </span>
                    <span class="fs-14" th:text="#{event_info_03}">할인</span>
                </div>
                <div class="fs-12 mrt10 fc-gray">
                    2021.8.21 ~ 2021.12.31
                </div>
            </div>
        </div>

        <div class="bannerBox mrb20">
            <div class="bannerTitle pdt30 pdl20">
                <div class="fs-16 fw-bold" style="line-height: 1.2" th:text="#{event_01_title}">디지털프라자 모바일<br> 스토어 출시기념 이벤트</div>
                <div class="mrt10 fs-14" style="line-height: 1.2" th:text="#{event_01_subTitle}">모든순간을 가장 나 답게</div>
            </div>
            <div class="bannerTop bg-gray">
                <div class="bannerListImg">
                    <img th:src="@{/event/img/event_prod_03.png}">
                </div>
            </div>
            <div class="bannerFoot pdt10 pdb15 pdl15 pdr15">
<!--                <div class="fs-14" style="line-height: 1.2">-->
<!--                    무료 비즈니스 정보 서비스를 신청하시고 <br>프로모션 행사 부스를 방문해주세요.-->
<!--                </div>-->
                <div class="mrt5 flex">
                    <span class="fc-blue fs-14" th:text="#{event_info_02}">커피 주문시 커피 30% </span>
                    <span class="fs-14" th:text="#{event_info_03}">할인</span>
                </div>
                <div class="fs-12 mrt10 fc-gray">
                    2021.8.21 ~ 2021.12.31
                </div>
            </div>
        </div>
    </div>
</div>


<th:block layout:fragment="script">
<script type="text/javascript">

    var app = new Vue({
        el: "#app",
        data: {
            headerTitleEN : 'الفوائد اليومية',
            headerTitleKO : '일상의 혜택',
            lang : '[[${session.lang}]]',
            cart : '[[${session.cart}]]',

        },
        mounted: function () {
            $(".eventIcon").css("color", "#2496ee")
            if(this.cart == "true"){
                $(".storeCart").show();
            }
        },
        methods: {
            goPage : function(){
                location.href="/event/detail";
            }
        },
        computed: {
        }
    })
</script>
</th:block>

</html>